<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">  <!--Thymeleaf namespace.-->
    <title>Spring Framework</title>
</head>

<body>
<h1> Book List </h1>

<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Publisher</th>
    </tr>

    <tr th:each="book : ${books}"> <!--Thyme leaf iterator, we are asking the model to give us the books.-->

        <td th:text = "${book.id}">123</td>
        <td th:text = "${book.title}">HP5</td>
        <td th:text = "${book.pbr.name}">Bloomsbury Publication</td>
    </tr>

</table>

</body>


</html> 
 
 